<table role="presentation" border="0" cellpadding="0" cellspacing="0" class="m_5328200707265535299body">
    <tbody>
        <tr>
            <td>&nbsp;</td>
            <td class="m_5328200707265535299container">
                <div class="m_5328200707265535299content">
                    <span class="m_5328200707265535299preheader">This is preheader text. Some clients will show this
                        text as a preview.</span>
                    <table role="presentation" class="m_5328200707265535299main">
                        <tbody>
                            <tr>
                                <td class="m_5328200707265535299wrapper">
                                    <table role="presentation" border="0" cellpadding="0" cellspacing="0">
                                        <tbody>
                                            <!-- <tr style="background-color:#265c4c">
                    <td style="text-align:center;padding-bottom:1em;padding-top:1em">
                      <img width="270" border="0" src="" alt="Logo Matrícula" >
                    </td>
                  </tr> -->
                                            <tr>
                                                <td>
                                                    <h2 style="text-align:center"><b>Redefinição de Senha</b></h2>
                                                    <h3><b>Olá, <span>Sr(a). VÂNIA OLIVEIRA ALBUQUERQUE</span></b></h3>
                                                    <p>Foi solicitada a troca de senha por esquecimento em
                                                        <span>22/12/2022 21:51:05</span>.
                                                    </p>
                                                    <br>
                                                    <p>Se você não solicitou a troca da senha, por favor ignore este
                                                        email.</p>
                                                    <p>Para realizar a troca de senha click no link abaixo.</p>
                                                    <p style="color:orange">O link tem validade de 1 hora. Após este
                                                        tempo o mesmo se tornará inválido.</p>
                                                    <br>
                                                    <table role="presentation" border="0" cellpadding="0"
                                                        cellspacing="0"
                                                        class="m_5328200707265535299btn m_5328200707265535299btn-primary">
                                                        <tbody>
                                                            <tr>
                                                                <td align="center">
                                                                    <table role="presentation" border="0"
                                                                        cellpadding="0" cellspacing="0">
                                                                        <tbody>
                                                                            <tr>
                                                                                <td style="text-align:center"><a
                                                                                        class="m_5328200707265535299btn"
                                                                                        href="https://reserva.matriculas.am.gov.br/confirmar-recuperar-senha?cpfResponsavel=62136216287&amp;token=1f131fa4a499d49ee9ebc660e1adc489"
                                                                                        target="_blank"
                                                                                        data-saferedirecturl="https://www.google.com/url?q=https://reserva.matriculas.am.gov.br/confirmar-recuperar-senha?cpfResponsavel%3D62136216287%26token%3D1f131fa4a499d49ee9ebc660e1adc489&amp;source=gmail&amp;ust=1683685610153000&amp;usg=AOvVaw3j7MyuM3DYC-rdobtVb71I">Cadastrar
                                                                                        Nova Senha</a></td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                    <br>
                                                    <p>Caso alguma dificuldade em acessar o botão para redefinição de
                                                        senha, copie e cole no navegador o seguinte link:
                                                        <span style="color:orange;word-break:break-all"><a
                                                                href="https://reserva.matriculas.am.gov.br/confirmar-recuperar-senha?cpfResponsavel=62136216287&amp;token=1f131fa4a499d49ee9ebc660e1adc489"
                                                                target="_blank"
                                                                data-saferedirecturl="https://www.google.com/url?q=https://reserva.matriculas.am.gov.br/confirmar-recuperar-senha?cpfResponsavel%3D62136216287%26token%3D1f131fa4a499d49ee9ebc660e1adc489&amp;source=gmail&amp;ust=1683685610154000&amp;usg=AOvVaw1BkdFtsdY-enDkwu1RQKAQ">https://reserva.matriculas.am.<wbr>gov.br/confirmar-recuperar-<wbr>senha?cpfResponsavel=<wbr>62136216287&amp;token=<wbr>1f131fa4a499d49ee9ebc660e1adc4<wbr>89</a></span>
                                                    </p>
                                                    <p>Equipe de Suporte da Matrícula <span></span>,</p>
                                                    <p style="text-align:center"><small>Esta é uma mensagem automática.
                                                            Favor não responder.</small></p>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="m_5328200707265535299footer">
                        <table role="presentation" border="0" cellpadding="0" cellspacing="0">
                            <tbody>
                                <tr>
                                    <td class="m_5328200707265535299content-block">
                                        <span class="m_5328200707265535299apple-link">Matrículas <span></span> </span>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="m_5328200707265535299content-block m_5328200707265535299powered-by">
                                        Desenvolvido por <a href="http://www.prodam.am.gov.br" target="_blank"
                                            data-saferedirecturl="https://www.google.com/url?q=http://www.prodam.am.gov.br&amp;source=gmail&amp;ust=1683685610154000&amp;usg=AOvVaw0NjjRGlG0XsVQDicLlyg6r">PRODAM</a>.
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </td>
            <td>&nbsp;</td>
        </tr>
    </tbody>
</table>